:root {
  --message_input_height: 75px !important;
  --users_window_width: 7.5vw;
}

* {
  font-size: 16px;
}

body {
  width: 100vw;
  background-color: black;
  color: white;
  font-family: monospace;
  box-sizing: border-box;
  overflow-x: hidden;
}

.chat {
  min-height: 100vh;
  width: 100%;
  margin-bottom: var(--message_input_height);
}

.chat_msg {
  max-width: 89%;
}

.chat_msg--root {
  color: rgb(0, 255, 0);
}

.users {
  position: fixed;
  right: 0;
  top: 0;
  height: calc(100vh - var(--message_input_height));
  width: var(--users_window_width);
  border-left: 1px solid #fff;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.users_user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.users_user_name {
  max-width: 10ch !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.users_user_color {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  margin-left: 10px;
}

.message_input {
  z-index: 1;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: black;
  color: white;
  width: 100%;
  height: var(--message_input_height);
  border: none;
  outline: none;
  border-top: 1px solid #fff;
  padding: 0 1em;
}

.message_input::placeholder {
  color: white;
}

.message_input::-moz-placeholder {
  color: white;
}

.message_input::-webkit-input-placeholder {
  color: white;
}

.message_input:focus::placeholder {
  color: transparent;
}

.message_input:focus::-moz-placeholder {
  color: transparent;
}

.message_input:focus::-webkit-input-placeholder {
  color: transparent;
}
